body {font-family: Calibri;}
form {border: 1px solid #f1f1f1;}
html,body{
max-width:100%;
overflow-y:hidden;
overflow-x:hidden;
}
.box {
  position: absolute;
  left: 32%;
  top: 20%; 
  background-color: lightblue;
  width: 200px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 70px 120px 70px 80px;
  margin: 10px;
}
.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid black;
  color: black;
  display: block;
  margin: 1rem;
  padding: .5rem;
  width: calc(100% - 3rem);
}

button {
  background-image: linear-gradient(to right, blue, #ddd);
  border: 2px solid grey;
  color:black;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 40px;
}
button:hover{
  opacity: 0.4;
}
.signupbtn{
color:red;
}